.post-content img {
  max-width: 100%;
}

.post-content h2 > a,
.post-content h3 > a {
  text-decoration: none;
  color: initial;
}

.post-content p,
.post-content li {
  text-align: justify;
}

.post-content > pre {
  color: #333;
  background: #eee;
  padding: 1em;
  overflow-x: auto;
}

.post-content > pre code {
  font-family: "Source Code Pro", "Menlo", "Consolas", monospace;
  line-height: 1.2;
  font-size: 0.8rem;
}

.post-content p code {
  font-family: "Source Code Pro", "Menlo", "Consolas", monospace;
  background: #eee;
  color: #333;
  padding: 2px 4px;
}

.post-metadata span {
  display: block;
}

.post-metadata__author {
  font-weight: bold;
}
