.post-content img {
  max-width: 100%;
}

.post-content .gatsby-resp-image-wrapper,
.post-content .video-responsive {
  margin-top: 2em;
  margin-bottom: 2em;
}

.post-content h2 > a,
.post-content h3 > a {
  text-decoration: none;
  color: initial;
}

.post-content p,
.post-content li {
  text-align: justify;
  word-spacing: -1px;
}

.post-content li > p {
  margin-top: 2px;
  margin-bottom: 8px;
}

.post-content blockquote {
  border-left: solid lightgray 4px;
  padding-left: 1em;
  margin-left: 0;
}

.post-content pre {
  color: #333;
  background: #eee;
  padding: 1em;
  overflow-x: auto;
}

.post-content pre code {
  font-family: "Source Code Pro", "Menlo", "Consolas", monospace;
  line-height: 1.2;
  font-size: 0.8rem;
}

.post-content code {
  font-family: "Source Code Pro", "Menlo", "Consolas", monospace;
  background: #eee;
  color: #333;
  padding: 2px 4px;
}

.post-metadata span {
  display: block;
}

.post-metadata__author {
  font-weight: bold;
}

.post-content .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.post-content .video-responsive > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-content .table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #bdc1c4;
}

.post-content table {
  border-collapse: collapse;
}

.post-content table th {
  background-color: rgb(240, 240, 240);
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
}

.post-content table td,
.post-content table th {
  border-bottom: 1px solid #bdc1c4;
  border-right: 1px solid #ccc;
  padding: 0.5rem;
  white-space: nowrap;
}
