* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: "Noto Serif TC", serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  margin-top: 2em;
}

h2 {
  margin-top: 2em;
}

#root {
  height: 100%;
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;

  padding-left: 2em;
  padding-right: 2em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  max-width: 650px;
  width: 100%;
}

/*
Utility styles: Grids, responsive images and so on.
*/

.row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.row + .row {
  margin-top: 16px;
}

.width-50 {
  max-width: 50%;
  flex-shrink: 0;
}

.responsive-image {
  display: flex;
  flex-shrink: 1;
  max-width: 100%;
}

.responsive-image + .responsive-image,
.responsive-image-container + .responsive-image-container {
  margin-left: 16px;
}
